@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Roboto', Halvetica, sans-serif;
  text-align: center;
  background-color: #765273;
}

/*Navigation*/

nav {
  position: fixed;
  text-align: right;
  width: 100%;
  background-color: #765273;
}

nav ul li {
  display: inline-block;
  margin: 25px 45px 15px 5px;
  font-size: 2.5em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  cursor: pointer;
  color: #4c7c57;
}

/*Content*/

#welcome-section {
  height: 100vh;
  top: 0;
  color: white;
}

.container {
  padding: 50vh 0;
}

h1 {
  font-size: 3.8em;
}

#welcome-section h2 {
  font-size: 2em;
}

.whitespace {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #4c7c57;
  border-radius: 3px;
  padding: 10px 10px 10px 10px;
}

#about {
    text-align: left;
    font-size: 1.5em;
}

#about a {
  color: #4c7c57;
}

#about h2 {
  text-align: center;
}

#projects {
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  font-size: 1.5em;
}

#projects a {
  color: white;
  text-decoration: none;
}

.project-tile {
  display: inline-block;
  overflow: hidden;
  border: 3px solid #4c7c57;
  background-color: #614e6e;
  border-radius: 3px;
  height: 260px;
  width: 380px;
  
}

.project-tile img {
  width: auto;
  height: 150px;
}

.project-title {
  font-weight: bold;
  border-top: 2px solid #4c7c57;
  border-bottom: 2px solid #4c7c57;
}

.project-des {
  font-size: auto;
}

#links {
  padding-top: 50px;
}

#links ul li{
  display: inline-block;
  text-decoration: none;
  display: inline-block;
  list-style-type: none;
  height: 5em;
  width: 5em;
  line-height: 5em;
  font-size: 1.5em;
}

#links a {
  color: white;
  text-decoration: none;
}

#links img {
  height: 3em;
  width: 3em;
}

#links a:hover {
  cursor: pointer;
  color: #4c7c57;
}

footer {
  padding: 20px;
  color: white;
  background-color: #765273;
}

footer a {
  color: white;
  text-decoration: none;
}

@media (min-width: 80em) {
  nav ul li {
    font-size: 1.5em;
  }

  .whitespace {
    width: 67%;
    padding: 10px 10px 10px 10px;
  }

  #projects {
    font-size: 1.1em;
  }
  .project-tile {
    height: 220px;
    width: 280px;
  }
}

/* Credit to Stack Overflow user ryanve */
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

/* 
Old colors:
Purple: hsl(276, 96%, 36%);
Green: #60882F;
Orange: #60882F;
*/